body
{
	background-color: #505050;
}

#Look
{
	transition: all .2s ease-in-out;
	z-index: 100;
}

#loop
{
	z-index: 1001;
}

#Look:hover
{
	transform: scale(3);
}

.image:hover
{
	border: 5px solid red;
	border-radius: 5px;
}

#boxed
{
	border: 1px solid black;
	box-shadow: 8px 11px 8px black;
	display: block;
	width: 1300px;
	height: 120px;
	margin: auto;
	background-color: #909090;
	border-radius: 10px;
}

#Take:active
{
	visibility: hidden;
}

#green
{
	background-color: #88FF89;
	position: relative;
	width: 400px;
	height: 150px;
	bottom: 1050px;
	left: 300px;
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 8px 11px 8px black;
	padding: 5px;
	font-family: Georgia;
}

.limg
{
	position: relative;
	left: 10px;
	height: 60px;
	width: 60px;
}

#apple
{
	position: relative;
	width: 200px;
	height: 150px;
	bottom: 1050px;
	left: 1200px;
}

#ikea
{
	position: relative;
	width: 100px;
	height: 200px;
	bottom: 850px;
	left: 770px;
}

#box
{
	position: relative;
	left: 320px;
	top: 20px;
	border: 1px solid black;
	box-shadow: 8px 11px 8px black;
	width: 90px;
	height: 320px;
	background-color: #909090;
	border-radius: 10px;
}

#brick
{
	height: 60px;
	width: 60px;
	position: relative;
	background: transparent url("resources/brick.jpg") repeat scroll 0% 0%;
}

#left
{
	position: relative;
	border: 1px solid black;
	box-shadow: 8px 11px 8px black;
	width: 90px;
	height: 320px;
	background-color: #909090;
	border-radius: 10px;
	bottom: 840px;
	left: 1500px;
}

#main
{
	position: relative;
	border: 1px solid black;
	box-shadow: 8px 11px 8px black;
	border-radius: 10px;
	padding: 15px;
	background-color: #909090;
	top: -302;
	left: 450;
	height: 506;
	width: 964;
}

.image
{
	position: relative;
	display: block;
	left: 10px;
	height: 60px;
	width: 60px;
}

#cross
{
	position: absolute;
	right: 310px;
	top: 110px;
	width: 20px;
	height: 20px;	
}

#re
{
	float: right;
	width: 20px;
	height: 20px;
}

#loop
{
	float: right;
	width: 200px;
	height: 120px;
}

#day
{
	position: relative;
	left: 10px;
	width: 400px;
	height: 120px;
}